/* Estilos para todos os componentes de card */

/* POST CARD (Notícias recentes) */
.post-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);    
  border-radius: 1rem;
}

.post-card__body {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-card__body img {
  width: 100%;
  height: auto;
}

.post-card__body h2,
.post-card__body span,
.post-card__body p {
  padding: .25rem 0rem;
}

.post-card__tag {
  font-size: 0.875rem;
  color: var(--color-primary);
}

.post-card__body h2 {
  font-weight: 700;
  font-size: 1.25rem;
}

.post-card__body span {
  font-weight: 500;
  font-size: 0.875rem;
}

.post-card__body span > b {
  font-weight: 700;
  font-size: 0.875rem;
}

.post-card__body time{
  margin-top: .7rem;
}

/* POPULAR POST CARD (Sidebar) */
.popular-post-card {
  display: flex;
  width: 100%;
  padding: .7rem;
  margin-bottom: .7rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);    
  border-radius: 1rem;
}

.popular-post-card__text {
  padding-left: 1rem;
}

.popular-post-card__text h3 {
  font-weight: 700;
  font-size: 0.875rem;
}

.popular-post-card__text time {
  font-weight: 500;
  font-size: 0.75rem;
  color: var(--color-text-third);
}