/* Estrutura de grids, colunas, espaçamentos gerais. */
.flex{ display: flex;}
.grid{ display: grid;}
.container{
    width: 83%;
    max-width: 1600px;
    min-width: 375px;
    margin: 0 auto;
}

/* ESTILIZAÇÃO HEADER */
#hero{
    width: 100%;
    height: 4.375rem; 
    justify-content: center;
    align-items: center;
}

#principal{
    justify-content: space-between;
    gap: 1.5rem;
    padding: 2rem;
}

#principal__news{
    flex: 3;
}

#news__destaque{
    position: relative;
    width: 100%;
    height: 600px;
}
.news__overlay{
    flex-direction: column;
    justify-content: end;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
}
#principal__sidebar{
    flex: 1;
}

#news__recentes{
    padding: 1.5rem 0rem;
}






#rodape{
    align-content: end;
    height: 48px;
    justify-content: center;
    align-items: center;
}
