/* Cores, tipografia, variações visuais. */

:root{
    --color-primary: #02A28F;
    --color-text-primary: #000;
    --color-text-secondary: #fff;
    --color-text-third: #616161;
}

#hero{
    background-color: var(--color-primary);
}

#news__destaque{
    background-image: url(../img/city.jpg);
    background-size: cover;
    background-position: center;
    color: var(--color-text-secondary);
    border-radius: 1rem;
}
.news__overlay{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
}

.news__overlay h1{
    font-weight: 700;
    font-style: Bold;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0%;

}
.article__tag{
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--color-primary);
}

.recentes__conteudo__article{
   box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);    
   border-radius: 1rem;
}

.recentes__conteudo__article--texts h2{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 100%;
    letter-spacing: 0%;

}

.recentes__conteudo__article--textse span{
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: 0%;
}

.recentes__conteudo__article--texts span > b{
    font-weight: 700;
    font-size:0.875rem;
    line-height: 100%;
    letter-spacing: 0%;

}

.sidebar_content-card{
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);    
    border-radius: 1rem;
}

.content__card_text h3{
    font-weight: 700;
    font-size:0.875rem;
    line-height: 100%;
    letter-spacing: 0%;
}
.content__card_text time{
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(97, 97, 97, 1);

}

#rodape{
    color: var(--color-text-secondary);
    background-color: var(--color-primary);
}
