/* Cores, tipografia, variações visuais. */

:root{
    --color-primary: #02A28F;
    --color-text-primary: #000;
    --color-text-secondary: #fff;
    --color-text-third: #616161;
}

#hero{
    background-color: var(--color-primary);
}

#news__destaque{
    background-image: url(../img/city.jpg);
    background-size: cover;
    background-position: center;
    color: var(--color-text-secondary);
    border-radius: 1rem;
}
.news__overlay{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
}

.news__overlay h1{
    font-weight: 700;
    font-style: Bold;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0%;

}


#rodape{
    color: var(--color-text-secondary);
    background-color: var(--color-primary);
}
