@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");

:root {
  --font-principal: "Montserrat", sans-serif;
  --font-secundaria: "Cabin", sans-serif;
  --primary-background: rgba(2, 162, 143, 1);
  --primary-font-color: rgba(255, 255, 255, 1);
  --secondary-font-color: rgb(97, 97, 97);
}
